{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body > div.pusher > div.ui.main-content.vertical.center.aligned.segment > div > div.ui.left.aligned.container > form > div:nth-child(2) > div > div > div.ck.ck-editor__main > div {
            height: 350px;
        }
    </style>
{% endblock %}
{% block main_title %}
    Fiche thématique
{% endblock %}
{% block sub_main_title %}
    Ajouter
{% endblock %}

{% block body %}
<!-- Posts -->
<div class="ui left aligned container">
    <form action="#" class="ui form">
        <div class="ui field">
            <label>Titre</label>
            <div class="field">
                <input type="text" placeholder="Titre de la fiche">
            </div>
        </div>
        <div class="ui field">
            <label>Contenu</label>
            <div class="field">
                <textarea id="ckeditor" name="editor"></textarea>
            </div>
        </div>
        <div class="ui field">
            <label>Médias</label>
            <div class="ui segment">
                <button id="add-media" class="ui icon button">
                    <i class="ui plus icon"></i>
                </button>
            </div>
        </div>
        <div class="ui right floated buttons">
            <button class="ui button" data-vivaldi-spatnav-clickable="1">Enregistrer</button>
            <div class="or" data-text="ou"></div>
            <button class="ui positive button" data-vivaldi-spatnav-clickable="1">Publier</button>
        </div>
    </form>
</div>
<div class="ui page dimmer">
    <div class="ui left aligned segment" style="width:40%">
        <h4 class="ui header">Ajouter un média</h4>
        <form action="" class="ui form">
            <div class="ui field">
                <label>Nom</label>
                <input type="text" placeholder="Nom de l'image">
            </div>
            <div class="ui field">
                <label>Description</label>
                <input type="text" placeholder="Description">
            </div>
            <div class="ui field">
                <label>Resource</label>
                <div class="ui center aligned basic segment">
                    <div class="ui field">
                        <input type="text" placeholder="URL">
                    </div>
                    <div class="ui horizontal divider">
                        OU
                    </div>
                    <div class="ui field">
                        <div class="ui teal labeled icon button">
                            Uploader
                            <i class="add icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui right floated labeled icon green button">
                <i class="ui plus icon"></i>
                Ajouter
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js"></script>
    <script>
        // CKeditor
        ClassicEditor
            .create( document.querySelector( '#ckeditor' ))
        ;

        window.onbeforeunload = function(e) {
            e.preventDefault();
        };

//        console.log(ClassicEditor.config);
//        ClassicEditor.config('editor', {
//            height: 800
//        })

        // Add media
        $('#add-media').click(function(){
            $('.ui.page.dimmer').dimmer('toggle');
        });
    </script>
{% endblock %}