{% extends 'base.html.twig' %}

{% block main_title %}
    Fiches thématiques
{% endblock %}
{% block sub_main_title %}
    6 fiches
{% endblock %}

{% block body %}
<!-- Posts -->
<div class="ui left aligned container">
    <a href="/admin/posts/form?editor=<p>%26nbsp%3B<%2Fp>#" id="add-button" class="circular ui labeled icon green button">
        <i class="icon plus"></i>
        Ajouter une fiche
    </a>
    <table id="list" class="ui compact celled table">
        <thead>
            <tr>
                <th class="center aligned">Publier</th>
                <th>Titre</th>
                <th>Date</th>
                <th class="center aligned">Suppr.</th>
                <th class="center aligned">Modif.</th>
            </tr>
        </thead>

        <tbody>
        {% for i in 1..13 %}
            <tr>
                <td class="center aligned collapsing">
                    <div class="ui fitted slider checkbox">
                        <input type="checkbox" checked="checked"> <label></label>
                    </div>
                </td>
                <td>
                    Titre du post
                </td>
                <td class="collapsing">03/05/2018</td>
                <td class="center aligned collapsing">
                    <a href="#" class="delete-button ui red icon button"><i class="ui icon trash"></i></a>
                </td>
                <td class="center aligned collapsing">
                    <a href="/admin/posts/edit?editor=<p>Contenu+du+post<%2Fp>#" class="ui green icon button"><i class="ui icon edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Supprimer Titre du post ?
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Annuler
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Oui
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.delete-button').click(function(){
            $('.ui.modal').modal('show');
        });
    </script>
{% endblock %}