{% extends 'base.html.twig' %}

{% block main_title %}
    Fondation du doute
{% endblock %}
{% block sub_main_title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui equal width grid">
            <div class="ui row">
                <div class="column">
                    <i class="ui huge blue home icon"></i>
                </div>
            </div>
            <div class="ui row">
                <div class="column">
                    <i class="ui huge blue external resource icon"></i>
                </div>
                <div class="column">
                    <i class="ui huge blue block layout icon"></i>
                </div>
                <div class="column">
                    <i class="ui huge blue book icon"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}