{% extends 'base.html.twig' %}

{% block main_title %}
    Fondation du doute
{% endblock %}
{% block sub_main_title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui equal width grid">
            <div class="column">
                <i class="ui huge external resource icon"></i>
                Sites des artistes Fluxus
            </div>
            <div class="column">
                <i class="ui huge block layout icon"></i>
                Fiches thématiques
            </div>
            <div class="column">
                <i class="ui huge book icon"></i>
                Consulation numérique
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}