{#<section class="ui">#}
    <div class="ui top sticky fixed left launch-menu">
        <div class="ui vertical labeled icon menu">
            <a href="/" class="item">
                <i class="home large icon"></i>
                Accueil
            </a>
            <a class="item toggle-sidebar">
                <i class="angle double right large icon"></i>
                Menu
            </a>
        </div>
    </div>
{#</section>#}
