<footer class="ui inverted segments">
    <div class="ui inverted center aligned segment">
        <div class="ui tiny images">
            <img src="/uploads/media/maquetteUT.jpg" alt="" class="ui image">
            <img src="/uploads/media/maquetteUT.jpg" alt="" class="ui image">
            <img src="/uploads/media/maquetteUT.jpg" alt="" class="ui image">
            <img src="/uploads/media/maquetteUT.jpg" alt="" class="ui image">
        </div>
    </div>
    <div class="ui center aligned inverted segment">
        <a target="_blank" href="http://sysmod-web.fr" class="ui label">
            <img class="ui right spaced image" src="/uploads/media/sysmod-min-logo.png">
            Créé par Sysmod-Web
        </a>
    </div>
</footer>