{#<div class="ui clearing container">#}
    {#<h1 class="ui left floated header">#}
        {#<img class="ui middle aligned circular image" src="/uploads/media/maquetteUT.jpg" alt="">#}
        {#<h1 class="ui right floated header">#}
            {#<div class="content">#}
                {#Fiches thématiques#}
                {#<div class="ui right aligned sub header">#}
                    {#8 fiches#}
                {#</div>#}
            {#</div>#}
        {#</h1>#}
    {#</h1>#}
{#</div>#}

<div class="ui masthead container">
    <h1 class="ui right aligned header">
        {#<img src="/uploads/media/maquetteUT.jpg">#}
        {#<i class="ui block layout icon"></i>#}
        <div class="content">
            Fiches thématiques
            <div class="sub header">59 fiches</div>
        </div>
    </h1>
</div>