<div class="ui masthead container">
    <h1 class="ui right aligned header">
        <div class="content">
            {% block main_title %}s title{% endblock %}
            <div class="sub header">{% block sub_main_title %}Sub-header{% endblock %}</div>
        </div>
    </h1>
</div>