<section class="ui sidebar vertical left menu">
    <div class="item">
        <a href="/" class="ui card">
            <div class="ui fluid image">
                <img src="/uploads/media/maquetteUT.jpg">
            </div>
            <div class="ui content">
                <p class="center aligned description">Fondation du doute</p>
            </div>
        </a>
    </div>
    <a href="/artists" class="item">
        <i class="external resource icon"></i>
        Sites des artistes
    </a>
    <a href="/posts" class="item">
        <i class="block layout icon"></i>
        Fiches thématiques
    </a>
    <a href="/books" class="item">
        <i class="book icon"></i>
        Consultation numérique
    </a>
    <a href="/admin/home" class="item">
        <i class="edit icon"></i>
        Administration
    </a>
</section>
