{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block main_title %}
    Titre du livre
{% endblock %}
{% block sub_main_title %}
    Modifier
{% endblock %}

{% block body %}
<!-- Posts -->
<div class="ui left aligned container">
    <form action="#" class="ui form">
        <div class="ui field">
            <label>Titre</label>
            <div class="field">
                <input type="text" value="Titre du livre">
            </div>
        </div>
        <div class="ui field">
            <label>Médias</label>
            <div class="ui segment">
                <button id="add-media" class="ui icon labeled green button">
                    <i class="ui plus icon"></i>
                    Nouvelle image
                </button>
                <table class="ui compact table">
                    <thead>
                    <tr>
                        <th class="center aligned">Aperçu</th>
                        <th class="collapsing">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for i in 1..6 %}
                            <tr class="ui column">
                                <td><img src="/uploads/media/maquetteUT.jpg" alt="" class="ui medium image"></td>
                                <td>
                                    <div class="ui buttons">
                                        <div class="ui icon button">
                                            <i class="ui arrow up icon"></i>
                                        </div>
                                        <div class="delete-button ui icon red button">
                                            <i class="ui trash icon"></i>
                                        </div>
                                        <div class="ui icon button">
                                            <i class="ui arrow down icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui right floated green button">Modifier
        </div>
    </form>
</div>
<div class="ui page dimmer">
    <div class="ui left aligned segment" style="width:40%">
        <h4 class="ui header">Ajouter un média</h4>
        <form action="" class="ui form">
            <div class="ui field">
                <label>Nom</label>
                <input type="text" placeholder="Nom de l'image">
            </div>
            <div class="ui field">
                <label>Description</label>
                <input type="text" placeholder="Description">
            </div>
            <div class="ui field">
                <label>Resource</label>
                <div class="ui center aligned basic segment">
                    <div class="ui field">
                        <input type="text" placeholder="URL">
                    </div>
                    <div class="ui horizontal divider">
                        OU
                    </div>
                    <div class="ui field">
                        <div class="ui teal labeled icon button">
                            Uploader
                            <i class="add icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui right floated labeled icon green button">
                <i class="ui plus icon"></i>
                Ajouter
            </div>
        </form>
    </div>
</div>
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Supprimer l'image ?
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Annuler
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Oui
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        // Add media
        $('#add-media').click(function(){
            $('.ui.page.dimmer').dimmer('toggle');
        });
        $('.delete-button').click(function(){
            $('.ui.modal').modal('show');
        });
    </script>
{% endblock %}