{% extends 'base.html.twig' %}

{% block main_title %}
    Sites des artistes
{% endblock %}
{% block sub_main_title %}
    12 sites
{% endblock %}

{% block body %}
<!-- Posts -->
<div class="ui left aligned container">
    <button id="add-button" class="circular ui labeled icon green button">
        <i class="icon plus"></i>
        Ajouter un site
    </button>
    <table class="ui compact celled table">
        <thead>
            <tr>
                <th class="collapsing">Nom de l'artiste</th>
                <th class="center aligned">URL</th>
                <th class="center aligned">Suppr.</th>
                <th class="center aligned">Modif.</th>
            </tr>
        </thead>

        <tbody>
        {% for i in 1..13 %}
            <tr>
                <td>
                    Nom de l'artiste
                </td>
                <td>
                    http://example.com
                </td>
                <td class="center aligned collapsing">
                    <a class="delete-button ui red icon button"><i class="ui icon trash"></i></a>
                </td>
                <td class="center aligned collapsing">
                    <a class="edit-button ui green icon button"><i class="ui icon edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui page dimmer">
</div>
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Supprimer Nom de L'artiste ?
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Annuler
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Oui
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-button').click(function(){
            // Empty dimmer
            $('.ui.page.dimmer').empty();

            // Create content
            var content = document.createElement('div');
            content.classList = 'ui left aligned segment';
            content.innerHTML = "\n" +
                "        <form action=\"#\" class=\"ui form\">\n" +
                "            <h4 class=\"ui dividing header\">Ajouter un site</h4>\n" +
                "            <div class=\"field\">\n" +
                "                <label>Nom de l'artiste</label>\n" +
                "                <div class=\"two fields\">\n" +
                "                    <div class=\"field\">\n" +
                "                        <input type=\"text\" placeholder=\"Prénom\">\n" +
                "                    </div>\n" +
                "                    <div class=\"field\">\n" +
                "                        <input type=\"text\" placeholder=\"Nom\">\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <div class=\"field\">\n" +
                "                <label>URL du site</label>\n" +
                "                <input type=\"text\" placeholder=\"URL\">\n" +
                "            </div>\n" +
                "            <div class=\"field\">\n" +
                "                <label>Photo principale</label>\n" +
                "                <button class=\"ui labeled icon button\">\n" +
                "                    <i class=\"ui plus icon\"></i>\n" +
                "                    Sélectionner\n" +
                "                </button>\n" +
                "            </div>\n" +
                "            <input class=\"ui right floated submit green button\" type=\"submit\" value=\"Ajouter\">\n" +
                "        </form>";

            // Add content to dimmer & toggle
            $('.ui.page.dimmer')
                .dimmer('add content', content)
                .dimmer('toggle');
        });
        $('.edit-button').click(function(){
            // Empty dimmer
            $('.ui.page.dimmer').empty();

            // Create content
            var content = document.createElement('div');
            content.classList = 'ui left aligned segment';
            content.innerHTML = "        <form action=\"#\" class=\"ui form\">\n" +
                "            <h4 class=\"ui dividing header\">Modifier un site</h4>\n" +
                "            <div class=\"field\">\n" +
                "                <label>Nom de l'artiste</label>\n" +
                "                <div class=\"two fields\">\n" +
                "                    <div class=\"field\">\n" +
                "                        <input type=\"text\" value=\"Prénom\">\n" +
                "                    </div>\n" +
                "                    <div class=\"field\">\n" +
                "                        <input type=\"text\" value=\"Nom\">\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <div class=\"field\">\n" +
                "                <label>URL du site</label>\n" +
                "                <input type=\"text\" value=\"http://example.com\">\n" +
                "            </div>\n" +
                "            <div class=\"field\">\n" +
                "                <label>Photo principale</label>\n" +
                "                <div class=\"ui items\">\n" +
                "                    <div class=\"item\">\n" +
                "                        <div class=\"ui tiny image\">\n" +
                "                            <img src=\"/uploads/media/maquetteUT.jpg\">\n" +
                "                        </div>\n" +
                "                        <div class=\"middle aligned content\">\n" +
                "                            <button class=\"ui labeled icon blue button\">\n" +
                "                                <i class=\"ui plus icon\"></i>\n" +
                "                                Modifier\n" +
                "                            </button>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <input class=\"ui right floated submit green button\" type=\"submit\" value=\"Modifier\">\n" +
                "        </form>";

            // Add content to dimmer & toggle
            $('.ui.page.dimmer')
                .dimmer('add content', content)
                .dimmer('toggle');
        });
        $('.delete-button').click(function(){
            $('.ui.modal').modal('show');
        });
    </script>
{% endblock %}